@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

section{
    margin-top: 0;
    min-height: 300px;
}

.main{
    width: 100%;
    display: block;
    height: 400px;
    background-color: black;
    overflow: hidden;
    position: relative;
}
.mainImage{
    position: absolute;
    opacity: 25%;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
}
.mainText{
    position: absolute;
    color: white;
    width: 100%;
    font-size: 48px;
    text-align: center;
    padding: 300px 0px 0px 0px;
}


.cerro{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 300px;
    width: 100%;
    position: relative;
    background-color: aquamarine;
}
.cerroImg{
    width: 100%;
    height: 300px;
    overflow: hidden;
    cursor: pointer;
}
.cerroImg > img {
    width: 100%;
    height: auto;
}
.cerroText{
    padding: 110px 30px;
}


.titleText{
    font-size: 48px;
    font-weight: bold;
}
.infoBtn{
    cursor: pointer;
    border: none;
    background-color: transparent;
    align-content: center;
}
.btnIcon{
    font-size: 26px;
    padding: 0px 0px 10px 0px;
}
.btnText{
    font-size: 18px;
}


.jua{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 300px;
    width: 100%;
    position: relative;
    background-color: aquamarine;
}
.juaText{
    padding: 110px 30px;
    text-align: right;
    justify-content: end;
}
.juaImg{
    width: 100%;
    height: 300px;
    overflow: hidden;
    cursor: pointer;
}
.juaImg > img {
    width: 100%;
    height: auto;
}


.blas{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 300px;
    width: 100%;
    position: relative;
    background-color: aquamarine;
}
.blasImg{
    width: 100%;
    height: 300px;
    overflow: hidden;
}
.blasImg > img{
    width: 100%;
    height: auto;
    margin: -110px 0px 0px 0px;
    cursor: pointer;
}
.blasText{
    padding: 110px 30px;
}


.jiqui{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 300px;
    width: 100%;
    position: relative;
    background-color: aquamarine;
}
.jiquiText{
    padding: 110px 30px;
    text-align: right;
    justify-content: end;
}
.jiquiImg{
    width: 100%;
    height: 300px;
    overflow: hidden;
    cursor: pointer;
}
.jiquiImg > img {
    width: 100%;
    height: auto;
    margin: -75px 0px 0px 0px;
}


.volcan{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 300px;
    width: 100%;
    position: relative;
    background-color: aquamarine;
}
.volcanImg{
    width: 100%;
    height: 300px;
    overflow: hidden;
}
.volcanImg > img{
    width: 100%;
    height: auto;
    cursor: pointer;
}
.volcanText{
    padding: 110px 30px;
}


footer iframe{
    width: 100%;
}

/*ESTILO PARA CELULARES*/
@media screen and (max-width: 480px) {
    .mainText{
        position: absolute;
        color: white;
        width: 100%;
        font-size: 15px;
        text-align: center;
        padding: 195px 0px 0px 0px;
    }

    .cerroText{
        color: black;
        text-align: center;
        padding: 130px 0px 0px 0px;
    }

    .titleText{
        font-size: 20px;
    }

    .btnText{
        color: black;
        text-align: center;
    }

    .mainImage{
        display: grid;
        width: 100%;
        height: 300px;
        overflow: hidden;
    }

    .cerro{
        display: grid;
        grid-template-rows: 50% 50%;
        grid-template-columns: 100%;
        height: 150px;
        width: 100%;
        position: relative;
        background-color: aquamarine;
        padding: 40px 0px 0px 0px;
    }

    .jua {
        display: grid;
        grid-template-rows: 50% 50%;
        grid-template-columns: 100%;
        height: 150px;
        width: 100%;
        position: relative;
        background-color: aquamarine;
        padding: -100px 0px 0px 0px;
    }

    .juaText {
        color: black;
        text-align: center;
        padding: 234px 0px 0px 0px;
    }

    .blas {
        display: grid;
        grid-template-rows: 50% 50%;
        grid-template-columns: 100%;
        height: 150px;
        width: 100%;
        position: relative;
        background-color: aquamarine;
        padding:  50px 0px 0px 0px;
    }

    .blasImg {
        width: 125%;
        height: 1000px;
    }

    .blasText {
        color: black;
        text-align: center;
        padding: 115px 0px 0px 0px;
    }

    .jiqui {
        display: grid;
        grid-template-rows: 50% 50%;
        grid-template-columns: 100%;
        height: 110px;
        width: 100%;
        position: relative;
        background-color: aquamarine;
        padding:  0px 0px 0px 0px;
    }

    .jiquiText {
        color: black;
        text-align: center;
        padding: 220px 0px 0px 0px;
    }

.volcan {
    display: grid;
        grid-template-rows: 50% 50%;
        grid-template-columns: 100%;
        height: 100px;
        width: 100%;
        position: relative;
        background-color: aquamarine;
        padding:  60px 0px 0px 0px;
}

.volcanImg {
    margin: 0%;
    padding: 0px 0px 0px 0px ;
}

.volcanText{
    color: black;
        text-align: center;
        padding: 205px 0px 0px 0px;
}
}


/*ESTILO PARA TABLETS*/
@media screen and (min-width: 481px) and (max-width: 768px){
    .cerroImg > img {
        width: 100%;
        height: 400px;
    }

    .cerroText {
        margin: 0px 0px 0px 0px;
        padding: 100px 0px 0px 100px ;
    }

    .juaImg > img {
        width: 100%;
        height: 400px;
    }

    .juaText {
        margin: 0px 0px 0px 0px;
        padding: 100px 100px 0px 0px ;
    }

    .blasImg > img {
        width: 100%;
        height: 400px;
    }

    .blasText {
        margin: 0px 0px 0px 0px;
        padding: 70px 0px 0px 100px ;
    }

    .jiquiImg > img {
        width: 100%;
        height: 400px;
    }

    .jiquiText {
        margin: 0px 0px 0px 0px;
        padding: 65px 100px 0px 0px ;
    }

    .volcanImg > img {
        width: 100%;
        height: 400px;
    }

    .volcanText {
        margin: 0px 0px 0px 0px;
        padding: 70px 0px 0px 40px ;
    }
}

